wikientries index 


<% if current_user%>
        <%= "you have #{current_user.favorite_entries.length} favorites"%>
        <% unless WikiEntry.all.empty?%>
            <ul>
            <li>Entries count: <%= WikiEntry.all.size%> </li>
            <li>Search terms: <%= SearchTerm.all.size%> </li>   

            <li>Entry with the biggest wordcount: <%= WikiEntry.all.order(:wordcount).limit(1).first.title%></li>
            
            <li>Entry with the lowest wordcount: <%= WikiEntry.all.order(wordcount: :desc).limit(1).first.title%></li>

            
            - Entry with the most words in title
            - Entry with the lowest levenshtein distance according to its search term (levenshtein value and search term)
            - Top 5 favourited entries

            </ul>




            <% WikiEntry.all.each do |entry|%>
            <%=link_to entry.title, entry%> 
            <%= link_to 'Add to favorites', favoritings_create_path( :id => entry.id  )%>  <br>
           <% end %>

        <% else %>
            <p> No entries yet. </p> 
        <% end %>



        <% if current_user.admin? %>

            <p>Search terms: <%= SearchTerm.all.size%>   </p>
            <% SearchTerm.all.each do |term|%>
            <%= term.body%>
            , created by <%= term.user.email%>
            <% end %>


        <% end %>

<% end %>