<h1>wikientries index </h1>



    <h2> Wiki Entries </h2>
        <% unless @wiki_entries.empty? %>
            <% @wiki_entries.each do |entry|%>
                <%=link_to entry.title, entry%> 
                <% if current_user.favorite_entries.include?(entry) %>
                    <%= link_to 'Remove from favorites', favoritings_destroy_path( :id => entry.id  )%>  <br>

                <% else %>
                    <%= link_to 'Add to favorites', favoritings_create_path( :id => entry.id  )%>  <br>

                <%end%>
           <% end %>

        <% else %>
            <p> No entries yet. </p> 
        <% end %>



        <% if current_user.admin? %>

            <p>Search terms: <%= SearchTerm.all.size%>   </p>
            <% SearchTerm.all.each do |term|%>
            <%= term.body%>
            , created by <%= term.user.email%>
            <% end %>


        <% end %>



