<h1>wikientries index </h1>
 

    <h2> Wiki Entries </h2>

        View: <%= link_to '10', wiki_entries_path(offset: '10')%> 
        <%= link_to '50', wiki_entries_path(offset: '50') %> 
        <%= link_to '100', wiki_entries_path(offset: '100')%>  
        <%= link_to 'All', wiki_entries_path(offset: 'all')%>   

        <br> <br> 
  
        <% unless @wiki_entries.empty? %>
            <% @wiki_entries.each do |entry|%>
                <%=link_to entry.title, entry%> 
                <% if current_user.favorite_entries.include?(entry) %>
                    <%= link_to 'Remove from favorites', favoritings_destroy_path( :id => entry.id  )%>  <br>

                <% else %>
                    <%= link_to 'Add to favorites', favoritings_create_path( :id => entry.id  )%>  <br>

                <%end%>
           <% end %>

        <% else %>
            <p> No entries yet. </p> 
        <% end %>





