<h2><%= @wiki_entry.title%><br></h2>
Pageid
<%= @wiki_entry.pageid%><br>
wordcount
<%= @wiki_entry.wordcount%><br>
<%= @sanitized_snippet%>...<br>
<%= @wiki_entry.fullurl%><br>
Search term: <%= @wiki_entry.search_term.body%>

<% if current_user && (@wiki_entry.search_term.user == current_user || current_user.admin?)%>
    <br>
    Created by <%= @wiki_entry.search_term.user.email %>

    <% end %>