<h1> Welcome to WikiEntries </h1>

<% if current_user%>
        <%= "you have #{current_user.favorite_entries.length} favorite entries"%> <%= link_to 'View', favoritings_path%>
        <% unless @wiki_entries.empty?%>
        <h2> Statistics: </h2>
            <ul>
            <li>Entries count: <%= @wiki_entries.size%> </li>
            <li>Search terms: <%= SearchTerm.all.size%> </li>   

            <li>Entry with the biggest wordcount: <%= @wiki_entries.order(:wordcount).limit(1).first.title%></li>
            
            <li>Entry with the lowest wordcount: <%= @wiki_entries.order(wordcount: :desc).limit(1).first.title%></li>

            
            <li>Entry with the most words in title: <%= @wiki_entries.sort_by{|entry| entry.title}.first.title %></li>
            <li>Entry with the lowest levenshtein distance according to its search term (levenshtein value and search term): <%= @wiki_entries.sort_by{|entry| entry.levenshtein_distance(entry.title, entry.search_term.body)}.first.title %>, searched from '<%=@wiki_entries.sort_by{|entry| entry.levenshtein_distance(entry.title, entry.search_term.body)}.first.search_term.body%>' </li>
             <li> Top 5 favorited entries
                <ol> 
                <% i = 0%>
                <% while i < 5%>
                    <% sorted_entries = @wiki_entries.sort_by{|entry| entry.favoritees.length}.reverse %>
                        <li><%= sorted_entries[i].title %> Favorites:<%= sorted_entries[i].favoritees.length %></li> 
                        <% i = i + 1%>
                <% end %>

            </ul>

        <% end %>
<% end %>

<h2>Latest Wiki Entries </h2>

    <%= link_to 'Show all', wiki_entries_url %>
    <p>Sort by:
    <%= link_to 'Title', root_path(sort_factor: 'title') %>
    <%= link_to 'Wordcount', root_path(sort_factor: 'wordcount') %>
    <%= link_to 'Lowest Levenshtein', root_path(sort_factor: 'levenshtein') %>
    <%= link_to 'Most favorites', root_path(sort_factor: 'favorites') %>
    <br>
    <% i = 0%>
    <ul>
        <% while i < 10%>
            <% unless @latest_entries[i].nil?%>
                <li><%= link_to @latest_entries[i].title, @latest_entries[i]%> </li>
                <li>Page id: <%= @latest_entries[i].pageid%> </li>
                <li>levens <%= @latest_entries[i].levenshtein_distance(@latest_entries[i].title,@latest_entries[i].search_term.body)%></li>
                <li><a href='<%= @latest_entries[i].fullurl%>' target='blank'>View on Wikipedia</a> </li>
                <li>Search term: <%= @latest_entries[i].search_term.body%> </li>
                    <% if current_user%>
                        <% if current_user.favorite_entries.include?(@latest_entries[i]) %>
                            <%= link_to 'Remove from favorites', favoritings_destroy_path( :id => @latest_entries[i].id  )%>  <br>

                        <% else %>
                            <%= link_to 'Add to favorites', favoritings_create_path( :id => @latest_entries[i].id  )%>  <br>

                        <%end%>
                    <% end %>
                <% i = i + 1 %>
                <br>
            <% end %>
        <%end%>
    </ul>


<h2>Search Terms</h2>

   <%= link_to 'Show all', search_terms_url %>
    <p>Sort:
    <%= link_to 'Alphabetically', root_path(term_factor: 'alphabetically') %>
    <%= link_to 'Entries', root_path(term_factor: 'entries') %>
    <br>
    <% i = 0%>
    <ul>
        <% while i < 10%>
            <% unless @latest_terms[i].nil?%>
                <li><%= link_to @latest_terms[i].body, @latest_terms[i]%> </li>
                <li>Number of entries: <%= @latest_terms[i].wiki_entries.length%> </li>

                        <% if current_user == @latest_terms[i].user %>
                            <%= link_to 'Edit', edit_search_term_path(@latest_terms[i])%>

                        <%end%>
                    
                
                <br>
            <% end %>
            <% i = i + 1 %>
        <%end%>
    </ul>


<h2>Most active users </h2>
<% if current_user && current_user.admin? %>
    <%@top_active_users.each do |user|%>
    <%= user.email %>, activity factor <%= user.activity_factor %><br>
    <% end %>

<% end %>