<h1> <%= t 'welcome_page.message' %> </h1>

<% if current_user%>
        <%= "you have #{current_user.favorite_entries.length} favorite entries"%> <%= link_to 'View', favoritings_path%>
        <h2> <%= t 'welcome_page.live_statistics' %> </h2> 

        <div id="statistics-div">
            <% unless @wiki_entries.empty?%>

                <ul>
                    <li><%= t 'welcome_page.entries_count' %>: <%= @wiki_entries.size%> </li>
                    <li><%= t 'welcome_page.search_terms' %>: <%= SearchTerm.all.size%> </li>   

                    <li><%= t 'welcome_page.highest_wordcount_entry' %>: <%= @wiki_entries.order(:wordcount).limit(1).first.title%></li>
                    
                    <li><%= t 'welcome_page.lowest_wordcount_entry' %>: <%= @wiki_entries.order(wordcount: :desc).limit(1).first.title%></li>

                    
                    <li><%= t 'welcome_page.highest_title_wordcount_entry'%>: <%= @wiki_entries.sort_by{|entry| entry.title}.first.title %></li>
                    <li><%= t 'welcome_page.lowest_levenshtein_entry'%>: 
                        <%= link_to @wiki_entries.sort_by{|entry| entry.levenshtein_distance(entry.title, entry.search_term.body)}.first.title, 
                        wiki_entry_path(@wiki_entries.sort_by{|entry| entry.levenshtein_distance(entry.title, entry.search_term.body)}.first) %>, 
                        <%=t 'welcome_page.searched_from'%> '<%=@wiki_entries.sort_by{|entry| entry.levenshtein_distance(entry.title, entry.search_term.body)}.first.search_term.body%>' 
                    </li>
                </ul>
            
        </div>
                
                <% unless Favoriting.all.length <= 0%>

                    <div> <h2><%= t 'welcome_page.favorites.top_entries'%></h2>
                        <% sorted_entries = @wiki_entries.sort_by{|entry| entry.favoritees.length}.reverse %>

                        <ol> 
                            <% i = 0%>
                            <% while i < 5%>
                                    <% unless sorted_entries[i].favoritees.length == 0 %>
                                        <li><%= sorted_entries[i].title %> <%= t 'welcome_page.favorites.times_added' %>:<%= sorted_entries[i].favoritees.length %></li>
                                    <% end %>
                                    <% i = i + 1%>
                            <% end %>
                        <ol>
                    </div>
                <% end %>
            <% end %>
        

            
<% end %>

<h2><%= t 'welcome_page.latest_wiki_entries' %></h2>

    <%= link_to 'Show all', wiki_entries_url %>
    <p><%= t :sort_by %>:
    <%= link_to 'Title', root_path(sort_factor: 'title') %>
    <%= link_to 'Wordcount', root_path(sort_factor: 'wordcount') %>
    <%= link_to 'Lowest Levenshtein', root_path(sort_factor: 'levenshtein') %>
    <%= link_to 'Most favorites', root_path(sort_factor: 'favorites') %>
    <br>
    <% i = 0%>
    <ul>
        <% while i < 10%>
            <% unless @latest_entries[i].nil?%>
                <li><%= link_to @latest_entries[i].title, @latest_entries[i]%> </li>
                <li>Page id: <%= @latest_entries[i].pageid%> </li>
                <li>levens <%= @latest_entries[i].levenshtein_distance(@latest_entries[i].title,@latest_entries[i].search_term.body)%></li>
                <li><a href='<%= @latest_entries[i].fullurl%>' target='blank'>View on Wikipedia</a> </li>
                <li>Search term: <%= @latest_entries[i].search_term.body%> </li>
                    <% if current_user%>
                        <% if current_user.favorite_entries.include?(@latest_entries[i]) %>
                            <%= link_to 'Remove from favorites', favoritings_destroy_path( :id => @latest_entries[i].id  )%>  <br>

                        <% else %>
                            <%= link_to 'Add to favorites', favoritings_create_path( :id => @latest_entries[i].id  )%>  <br>

                        <%end%>
                    <% end %>
                
                <br>
            <% end %>
            <% i = i + 1 %>
        <%end%>
    </ul>


<h2>Search Terms</h2>

   <%= link_to 'Show all', search_terms_url %>
    <p>Sort:
    <%= link_to 'Alphabetically', root_path(term_factor: 'alphabetically') %>
    <%= link_to 'Entries', root_path(term_factor: 'entries') %>
    <br>
    <% i = 0%>
    <ul>
        <% while i < 10%>
            <% unless @latest_terms[i].nil?%>
                <li><%= link_to @latest_terms[i].body, @latest_terms[i]%> </li>
                <p>Number of entries: <%= @latest_terms[i].wiki_entries.length%> </p>

                        <% if (current_user && current_user.admin?) || current_user == @latest_terms[i].user %>
                            <%= link_to 'Edit', edit_search_term_path(@latest_terms[i])%>
                            <%= link_to 'Delete', search_terms_destroy_path( :id => @latest_terms[i].id)%>


                        <%end%>
                    
                
                <br><br>
            <% end %>
            <% i = i + 1 %>
        <%end%>
    </ul>


<% if current_user && current_user.admin? %>
    <h2>Most active users </h2>

    <%@top_active_users.each do |user|%>
        <%= user.email %>, activity factor <%= user.activity_factor %><br>
    <% end %> 

<% end %>