<!DOCTYPE html>
<html>
  <head>
    <title>JrossiadisRailsWikiProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if current_user%>

        <div>Hello, <%= current_user.email %> </div>
        <%= button_to 'Sign out', destroy_user_session_path, method: :delete%>

        <%= form_with model: SearchTerm.new, url: search_terms_path do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.text_field :body %>
          
          <%= form.submit "Import" %>
        <% end %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_url%>
        <%= link_to 'Sign in', new_user_session_url%>
      <% end %>
    <%= yield %>
  </body>
</html>
