<!DOCTYPE html>
<html>
  <head>
    <title>JrossiadisRailsWikiProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='container'>

    
      <nav id='navbar'>
          
       

        <% if current_user%>
        <%= form_with model: SearchTerm.new, id: "search-term-form", url: search_terms_path do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.label :body, (t :input_your_search_term) %> <br>
            <%= form.text_field :body, :required => true%>
            
            <%= form.submit (t :import) %>
        <% end %>
          <div id="notice-alert-div">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
          <div id='user-panel'>

            <button><%= link_to (t :home_page), root_path%></button>
            <%= button_to (t :sign_out), destroy_user_session_path, method: :delete%>
          </div>
          <div id='locale-panel'>
            <button><%= link_to 'English', url_for( :locale => 'en' )%></button>
            <button><%= link_to 'Ελληνικά', url_for( :locale => 'el' ) %></button>


          </div>
          <br> <br>
          

        <% else %>
        <div id='user-panel'>

          <button><%= link_to (t :sign_up), new_user_registration_url%></button>
          <button><%= link_to (t :sign_in), new_user_session_url%></button>
          <button><%= link_to (t :home_page), root_path%></button>
        </div>
        <div id='locale-panel'>
            <button><%= link_to 'English', url_for( :locale => 'en' )%></button>
            <button><%= link_to 'Ελληνικά', url_for( :locale => 'el' ) %></button>
          </div>
        <% end %>

      </nav>
      <div id='page-contents'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
